coolname
git+https://github.com/ContinualAI/avalanche.git@b295ebabda0c5fe76ca1ad0e046bd24fcaa41df4
gdown
ipywidgets
matplotlib
opencv-python-headless
python-dotenv
git+https://github.com/karolpiczak/pytorch-yard.git@eval_transform
rich
torchmetrics
tqdm
typer
wandb