coolname
pytorch-yard==2021.1.26.0
gdown
ipywidgets
matplotlib
opencv-python-headless
python-dotenv
git+https://github.com/karolpiczak/pytorch-yard.git@eval_transform
rich
torchmetrics
tqdm
typer
wandb